---
import Layout from '../layouts/Page.astro'
import Container from '../components/Container.astro';
import TweetList from '../components/TweetList.astro';
import { settings } from '../data/settings'

const tweets = (await Astro.glob('./tweet/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

const seo = {
  title: settings.title,
  description: settings.description,
}
---

<style>
  .home-hero-text__container {
    padding: 5vh 0;
  }
  h1 {
    text-align: center;
  }
</style>

<Layout seo={seo}>
  <Container>
    <div class="home-hero-text__container">
      <h1 class="fade-in">Che's Tweets</h1>
    </div>
    <TweetList tweets={tweets}/>
  </Container>
</Layout>

