---

---

<div>
  <h1 class="post-cc-header">转载申请</h1>
  <br />
  <a rel="license" href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
    <img alt="知识共享许可协议" style="border-width: 0;" src="/images/cc-license.png" />
  </a>
  <br />
  <div class="post-cc">
    本作品采用
    <a rel="license" href="https://creativecommons.org/licenses/by/4.0/" target="_blank" class="post-comments-link">
    知识共享署名 4.0 国际许可协议
    </a>
    进行许可，转载时请注明原文链接，图片在使用时请保留全部内容，可适当缩放并在引用处附上图片所在的文章链接。
  </div>
</div>

<style>
  .post-cc-header {
    margin-top: var(--flow-space, 1em);
  }
</style>
