---
import TweetPreview from "./TweetPreview.astro";

const {tweets} = Astro.props;
---

<ul>
  {tweets.filter((tweet) => !tweet.frontmatter.draft).map((tweet) => (
    <li>
      <TweetPreview tweet={tweet} />
    </li>
  ))}
</ul>

<style>
  ul {
    margin: 0 0 10vh 0;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
</style>
